{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form action="" method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Registrasi</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info">Sign Up</button>
			</div>
			<div class="border-top pt-3">
				<small class="text-muted">
					Already Have An Account? <a href="{% url 'users-login' %}" class="ml-2">Sign In</a>
				</small>
			</div>
		</form>
	</div>
	<div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
    </div>
{% endblock content %}